.base {
  display: flex;
  height: 100vh;
  width: 100%;
  
  .sidebar {
    background-color: #f5f2ff;
    display: flex;
    flex: 0 0 var(--sidebar-width);
    flex-direction: column;

    section {
      display: flex;
      flex-direction: column;
    }
    section.date {
      background-color: #ede8ff;
      padding: 8px 12px;
    }
    a, a:link {
      color: #000;
      font-size: 14px;
      font-weight: 500;
      line-height: 32px;
      padding: 0 12px;
      text-decoration: none;
    }
  }
  .main {
    flex: 1 1 auto;
    overflow: hidden;
  }
}
.base.dark {
  .sidebar {
    background-color: #291558;

    section.date {
      background-color: #1e0f40;
    }
    a, a:link {
      color: #fff;
    }
  }
}