.base {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  height: 100vh;

  .header {
    align-items: center;
    border-bottom: solid var(--line-width) var(--color-border-secondary);
    display: flex;
    flex: 0 0 var(--spacing-9);
    justify-content: space-between;
    padding: 0 var(--spacing-4);

    & > :global(.ant-typography) {
      margin: 0;
    }
  }
  .body {
    flex: 1 1 auto;
    overflow: auto;
    padding: var(--spacing-4);
  }
}
.base.noBodyPadding {
  .body {
    padding: 0;
  }
}
.base.scrolled {
  .header {
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
    z-index: 1024;
  }
}
