nav {
  background-image: linear-gradient(to bottom, transparent, var(--color-primary));
  color: #fff;
  display: flex;
  flex: 0 0 var(--spacing-9);
  flex-direction: column;
  position: relative;

  &::before {
    background-color: var(--color-primary-hover);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }
  section {
    align-items: center;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;

    & > div {
      align-items: center;
      display: inline-flex;
      height: var(--spacing-9);
      justify-content: center;
      width: var(--spacing-9);
    }
  }
  section.logo {
    flex: 0 0 var(--spacing-9);

    svg {
      height: 24px;
      width: 24px;
    }
  }
  section.top {
    justify-content: flex-start;
  }
  section.bottom {
    justify-content: flex-end;
  }
}
nav.disconnected {
  &::before {
    background-color: var(--color-error);
    transition: background-color 200ms linear;
  }
}
.navBarItem {
  align-items: center;
  color: #fffc;
  cursor: pointer;
  display: flex;
  flex-direction: column;

  label {
    color: #fffc;
    cursor: pointer;
    font-size: 11px;
  }
}
.navBarItem:link {
  text-decoration: none;
}
.navBarItem.active {
  color: #ffff;

  label {
    color: #ffff;
  }
}
