.base {
  align-items: center;
  color: var(--color-primary);
  display: inline-flex;
  justify-content: center;

  svg {
    height: 24px;
    width: 24px;
  }
}
.base.full {
  svg {
    height: 22px;
    width: 49px;
  }
}
.base.text {
  display: inline;
  font-weight: 700;
}
