.base {
  align-items: center;
  display: inline-flex;
  gap: 8px;

  svg {
    height: 24px;
    width: 24px;
  }
  span {
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
    letter-spacing: 4px;
  }
}
