.base {
  border-top: solid var(--line-width) var(--color-border-secondary);
  display: flex;
  flex-direction: column;
  height: 100%;

  .messages {
    flex: 1 1 auto;
    overflow: auto;

    .message {
      border-bottom: solid var(--line-width) var(--color-border-secondary);
      color: var(--color-text);
      display: flex;
      gap: 8px;
      padding: 16px;

      .avatar {
        flex: 0 0 auto;
      }
      .content {
        flex: 1 1 auto;
      }
      .header {
        align-items: center;
        display: inline-flex;
        gap: 8px;
        position: relative;
        width: 100%;

        .user {
          font-size: 16px;
          font-weight: bold;
        }
        .time {
          color: var(--color-text-tertiary);
        }
        .options {
          align-items: center;
          display: inline-flex;
          position: absolute;
          right: 0;
          visibility: hidden;
        }
      }
    }
    .message:hover {
      .header {
        .options {
          visibility: visible;
        }
      }
    }
    .message:last-child {
      border-bottom: 0;
    }
  }
  .input {
    align-items: center;
    border-top: solid var(--line-width) var(--color-border-secondary);
    display: flex;
    flex: 0 0 48px;
    padding: 0 16px;
  }
}
h4 {
  padding: 8px 12px;
}
ul {
  li {
    align-items: center;
    cursor: pointer;
    display: flex;
    gap: 8px;
    line-height: 36px;
    padding: 0 12px;

    .icon {
      align-items: center;
      display: inline-flex;
      flex: 0 0 auto;
    }
    .label {
      flex: 1 1 auto;
      font-size: 16px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  li.active {
    background-color: #e9dcff;
  }
}
