:root {
  --density: 1;
  --navbar-width: 48px;
  --sidebar-width: 280px;
  --line-width: calc(var(--density) * 1px);
  --spacing-0: calc(var(--density) * 1px);
  --spacing-1: calc(var(--density) * 2px);
  --spacing-2: calc(var(--density) * 4px);
  --spacing-3: calc(var(--density) * 8px);
  --spacing-4: calc(var(--density) * 12px);
  --spacing-5: calc(var(--density) * 16px);
  --spacing-6: calc(var(--density) * 20px);
  --spacing-7: calc(var(--density) * 24px);
  --spacing-8: calc(var(--density) * 32px);
  --spacing-9: calc(var(--density) * 48px);
  background-color: var(--color-bg-base);
  box-sizing: border-box;
  color: var(--color-text);
  color-scheme: light dark;
  font-family: Roboto, system-ui, sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}
body,
#root {
  display: flex;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Roboto;
  font-weight: 400;
  src: url('@/assets/fonts/Roboto-Regular.woff2');
}

@font-face {
  font-family: Roboto;
  font-weight: 900;
  src: url('@/assets/fonts/Roboto-Black.woff2');
}

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 900;
  src: url('@/assets/fonts/Roboto-BlackItalic.woff2');
}

@font-face {
  font-family: Roboto;
  font-weight: 700;
  src: url('@/assets/fonts/Roboto-Bold.woff2');
}

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 400;
  src: url('@/assets/fonts/Roboto-Italic.woff2');
}

@font-face {
  font-family: Roboto;
  font-weight: 300;
  src: url('@/assets/fonts/Roboto-Light.woff2');
}

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 300;
  src: url('@/assets/fonts/Roboto-LightItalic.woff2');
}

@font-face {
  font-family: Roboto;
  font-weight: 500;
  src: url('@/assets/fonts/Roboto-Medium.woff2');
}

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 500;
  src: url('@/assets/fonts/Roboto-MediumItalic.woff2');
}

@font-face {
  font-family: Roboto;
  font-weight: 100;
  src: url('@/assets/fonts/Roboto-Thin.woff2');
}

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 100;
  src: url('@/assets/fonts/Roboto-ThinItalic.woff2');
}
