:root {
  --navbar-width: 48px;
  --sidebar-width: 280px;
  --topbar-height: 48px;
  background-color: var(--color-bg);
  color: rgb(0 0 0 / 87%);
  color-scheme: light dark;
  font-family: Roboto, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}
body,
#root {
  display: flex;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Roboto-Medium, system-ui, sans-serif;
  margin: 0;
}
h1 {
  font-size: 28px;
  line-height: 48px;
}
h2 {
  font-size: 24px;
  line-height: 44px;
}
h3 {
  font-size: 22px;
  line-height: 40px;
}
h4 {
  font-size: 20px;
  line-height: 36px;
}
h5 {
  font-size: 18px;
  line-height: 30px;
}
h6 {
  font-size: 16px;
  line-height: 24px;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Roboto;
  src: url('@/assets/fonts/Roboto-Regular.woff2');
}

@font-face {
  font-family: Roboto-Black;
  src: url('@/assets/fonts/Roboto-Black.woff2');
}

@font-face {
  font-family: Roboto-Bold;
  src: url('@/assets/fonts/Roboto-Bold.woff2');
}

@font-face {
  font-family: Roboto-Italic;
  src: url('@/assets/fonts/Roboto-Italic.woff2');
}

@font-face {
  font-family: Roboto-Light;
  src: url('@/assets/fonts/Roboto-Light.woff2');
}

@font-face {
  font-family: Roboto-LightItalic;
  src: url('@/assets/fonts/Roboto-LightItalic.woff2');
}

@font-face {
  font-family: Roboto-Medium;
  src: url('@/assets/fonts/Roboto-Medium.woff2');
}

@font-face {
  font-family: Roboto-MediumItalic;
  src: url('@/assets/fonts/Roboto-MediumItalic.woff2');
}

@font-face {
  font-family: Roboto-Thin;
  src: url('@/assets/fonts/Roboto-Thin.woff2');
}

@font-face {
  font-family: Roboto-ThinItalic;
  src: url('@/assets/fonts/Roboto-ThinItalic.woff2');
}
