.base {
  height: 100vh;

  .title {
    align-items: center;
    display: flex;
    gap: 8px;
  }
  .body {
    height: 100%;
    overflow: auto;
  }
}
.base.scrolled {
  :global(.ant-drawer-header) {
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
    z-index: 1024;
  }
}
:global(.ant-drawer .ant-drawer-close) {
  position: absolute;
  right: 0;
}
:global(.ant-drawer .ant-drawer-header) {
  border-bottom: 0;
  padding: 16px;
}
:global(.ant-drawer .ant-drawer-body) {
  padding: 0;
}
:global(.ant-drawer .ant-drawer-footer) {
  border-top: solid var(--line-width) var(--color-border);
  padding: 16px;
}
